---
image: ruby:3.0.3-alpine3.15

rubocop:
  script:
    - bundle install
    - bundle exec rubocop --parallel
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

create_tw_planning_issue:
  script:
    - gem install --no-doc gitlab
    - ruby scripts/tw-milestone-plan.rb
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
